In [1]:
import scipy.stats as stats
import pandas as pd

In [2]:
method_A = [85, 90, 88, 75, 95]
method_B = [70, 65, 78, 72, 68]
method_C = [88, 85, 84, 90, 92]

f1, p1= stats.f_oneway(method_A, method_B, method_C)

print(f"Teaching methods vs Test score f : {f1} p value: {p1}")

if p1 > 0.05:
    print("at least one method is different")
else:
    print("all methods are similar")

Teaching methods vs Test score f : 15.317829457364343 p value: 0.0004971066822809954
all methods are similar

In [3]:
# Explanation: Test whether people lose more weight on different diets (Keto, Vegan, Mediterranean).

keto = [5.1, 4.8, 6.2, 5.7, 6.0]
vegan = [3.2, 2.9, 3.8, 4.0, 3.6]
mediterranean = [4.3, 4.0, 4.5, 4.2, 4.1]

f2, p2= stats.f_oneway(keto,vegan, mediterranean)

print(f"Discussing diet type vs weight gain f : {f2} p value: {p2}")

if p2 > 0.05:
    print("at least one diet type causes weight gain")
else:
    print("all diet types causes weight gain")

Discussing diet type vs weight gain f : 27.786440677966134 p value: 3.1365545756314946e-05
all diet types causes weight gain

#### Q3 Phone brand vs Battery Life

In [4]:
# Explanation: Check if battery life differs significantly across 3 phone brands.

brand_X = [10, 12, 11, 13, 14]
brand_Y = [8, 9, 10, 9.5, 8.5]
brand_Z = [11, 12, 11.5, 13, 12.5]

f3, p3= stats.f_oneway(brand_X, brand_Y, brand_Z)

print(f"Discussing phone brand vs battery life f : {f3} p value: {p3}")

if p2 > 0.05:
    print("at least one phone had one long battery life")
else:
    print("all types of phones had long battery life")

Discussing phone brand vs battery life f : 12.0 p value: 0.0013717421124828527
all types of phones had long battery life

#### Q4 Study Hours vs Grades

In [5]:
# Explanation: Does study time affect student grades?

group_1 = [65, 60, 58, 63, 61]
group_2 = [70, 72, 74, 71, 69]
group_3 = [85, 87, 90, 86, 88]

f4, p4= stats.f_oneway(group_1, group_2, group_3)

print(f"Explain how study time affects student grades f : {f4} : p value: {p4}")

if p4 < 0.05:
    print("at least one long study time affected the student grades")
else:
    print("all the study hours affected the grades")

Explain how study time affects student grades f : 173.0748299319729 : p value: 1.4148168322330918e-09
at least one long study time affected the student grades

#### two-way anova

In [6]:
import pandas as pd
data = pd.DataFrame({
    "score": [85, 88, 90, 72, 75, 78, 83, 85, 87, 65, 68, 70],
    "gender": ["M", "M", "M", "F", "F", "F", "M", "M", "M", "F", "F", "F"],
    "method": ["A", "A", "A", "A", "A", "A", "B", "B", "B", "B", "B", "B"]
})
data.head()

   score gender method
0     85      M      A
1     88      M      A
2     90      M      A
3     72      F      A
4     75      F      A

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model_q8 = ols("score ~ C(gender) + C(method) + C(gender):C(method)", data=data).fit()

anova_q8 = sm.stats.anova_lm(model_q8, typ=2)
print("\nQ8: Gender & Teaching Method vs Exam Scores\n", anova_q8)

Q8: Gender & Teaching Method vs Exam Scores
                          sum_sq   df           F    PR(>F)
C(gender)            675.000000  1.0  105.194805  0.000007
C(method)             75.000000  1.0   11.688312  0.009104
C(gender):C(method)   16.333333  1.0    2.545455  0.149279
Residual              51.333333  8.0         NaN       NaN

#### Q10: Day & Store Location vs Sales

In [12]:
# Explanation: Test if sales differ based on day of the week, store location, or interaction.

# Columns: 'sales', 'day' (e.g., Mon, Tue), 'location' (e.g., Urban, Rural)

df = pd.DataFrame({
    "sales": [85, 88, 90, 72, 75, 78, 83, 85, 87, 65, 68, 70],
    "day": ["M", "M", "M", "F", "WF", "F", "M", "M", "T", "F", "S", "F"],
    "location": ["R", "U", "U", "R", "U", "R", "R", "U", "R", "R", "U", "R"]
})

model_q10= ols("sales ~ C(day) + C(location) + C(day):(location)", data=data).fit()

anova_q10= sm.stats.anova_lm(model_q10, typ=1)
anova_q10

                  df      sum_sq     mean_sq          F    PR(>F)
C(day)           4.0  700.116667  175.029167  10.355053  0.007334
C(location)      1.0   16.133333   16.133333   0.954478  0.366312
C(day):location  5.0   73.647142   14.729428   0.871421  0.550425
Residual         6.0  101.416667   16.902778        NaN       NaN